* {
  margin: -2.3%;
  padding: 2%;
  box-sizing: border-box;
}
.container {
  height: 50%;
}
.profile {
  display: flex;
  position: absolute;
  top: calc(50% - 257.2px);
  left: calc(50% - 337.25px);
  height: 75%;
  width: 40%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  -webkit-box-shadow: 0px 0px 16px 6px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: 0px 0px 16px 6px rgba(0, 0, 0, 0.64);
  box-shadow: 0px 0px 16px 6px rgba(0, 0, 0, 0.64);
}
.profile img {
  height: 35%;
  width: 30%;
}
.employeeName {
  font-size: 350%;
  font-weight: bolder;
  color: rgb(8, 111, 167);
}
.App {
  text-align: center;
}
label {
  font-size: 150%;
  color: rgb(156, 140, 140);
  font-weight: bolder;
}
.employeeLocation,
.employeeBloodGroup,
.employeeAge {
  font-size: 140%;
  font-weight: bolder;
}